<link rel="stylesheet" href="/css/sign-in.css">
<div class="container" id="box">
    <h1>Forgot Password?</h1>
    <hr style="color:white">
    <form action="/users/forgot" method="POST">
    
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
            </div>
            <input type="email" class="form-control" name="email" placeholder="Enter your email" aria-label="Username" aria-describedby="basic-addon1" required>
        </div>
        <button type="submit">Send Password</button>
    </form>
    
</div>
