<link rel="stylesheet" href="/css/profile.css">
<div id="box">
    <h2>Welcome to Authenticater</h2>
    <button onclick="window.location='/users/sign-out'" class="btn btn-lg btn-outline-light">Sign-Out</button>
    <p>or</p>
    <button onclick="window.location='/users/update-password'" class="btn-outline-warning">Change Password</button>
</div>