<div class="container" id="box">
    <h1>Update Password</h1>
    <hr style="color:white">
    <form action="/users/update/<%=locals.user._id%>" method="POST">
    
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Mail</span>
            </div>
            <input type="email" class="form-control" name="email" placeholder="<%=locals.user.email%>" aria-label="Email" aria-describedby="basic-addon1" readonly>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Old password</span>
          </div>
          <input type="password" class="form-control" name="oldPassword" placeholder="Enter current password" aria-label="Password" aria-describedby="basic-addon1" required>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">New Password</span>
            </div>
            <input type="password" class="form-control" name="password" placeholder="Enter new password" aria-label="Password" aria-describedby="basic-addon1" required>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Re-Enter</span>
            </div>
            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm new password" aria-label="Password" aria-describedby="basic-addon1" required>
        </div>
        <button type="submit">Update</button>
        <p><strong>&nbsp;or&nbsp;</strong></p>
        <button onclick="window.location='/users/profile'">Cancel</button>
    </form>
</div>